.contact-us {
  &-overview {
    background-color: #047bcb;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    &-title {
      display: flex;
      flex-direction: column;
      width: 45%;
    }
    &-header {
      font-size: 30px;
      font-weight: bold;
      color: #55c57a;
    }
    &-description {
      font-size: 35px;
      font-weight: bold;
      color: #ffffff;
    }
  }
  &-address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    &-header {
      font-size: 15px;
      font-weight: bold;
    }
    &-title {
      padding: 1rem 0;
      &-header {
        color: #55c57a;
        font-size: 20px;
        font-weight: bold;
      }
      &-description {
        color: #ffffff;
      }
    }
    &-consultation {
      padding: 1rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .contact-us {
    &-overview {
      flex-direction: column;
      padding: 2rem;
      &-title {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }
    &-address {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
    }
  }
}
