.footer {
  background-color: #f0f0f0;
  font-size: 1.4rem;
  color: #000000;
  &-logo {
    width: 22%;
    display: flex;
    flex-direction: column;
  }
  &-quick {
    min-width: 150px;
    &-header {
      font-size: 16px;
      font-weight: bold;
    }
    &-description {
      color: #000000;
      font-size: 16px;
      padding: 8px 0;
      cursor: pointer;
      a {
        text-decoration: none;
      }
      &:hover {
        color: #000000;
      }
    }
    &-location {
      width: 16rem;
    }
  }
  &-copyright {
    background-color: #ffffff;
    padding: 1rem;
    font-size: 16px;
    color: #7a7a7a;
    text-align: center;
    &:hover {
      color: #000000;
    }
  }
}

@media screen and (max-width: 767px) {
  .footer {
    background-color: #f0f0f0;
    font-size: 1.4rem;
    color: #000000;
    &-logo {
      width: 100%;
    }
    &-quick {
      width: 100%;
      &-location {
        width: 100%;
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 800px) {
  .footer {
    &-logo {
      width: 50%;
    }
    &-quick {
      width: 30%;
      display: none !important;
      &-location {
        width: 35%;
      }
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 821px) and (orientation: portrait) {
  .footer {
    &-logo {
      width: 50%;
    }
    &-quick {
      width: 30%;
      display: none !important;
      &-location {
        width: 35%;
      }
    }
  }
}
