.header {
  height: 70vh;
  // background-image:
  background-image: url("/Assets/background-start.jpg");
  background-size: cover;
  background-position: top;
  position: relative;

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.heading-primary {
  color: #000000;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-bottom: 3rem;
  &--main {
    display: block;
    color: #047bcb;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 1rem;
  }
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.25rem;
    -webkit-animation: moveInRight 1s ease-out;
    animation: moveInRight 1s ease-out;
  }
}

.section {
  &-intro {
    padding: 3rem 5rem;
    background-color: #047bcb;
    align-items: center;
  }
  &-header {
    width: 25%;
    display: flex;
    flex-direction: column;
    &-subtitle {
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 1px;
      color: #2cbc63;
      font-weight: bold;
    }
    &-title {
      color: #2cbc63;
      font-size: 25px;
      line-height: 1.1275em;
      font-weight: 700;
    }
  }
  &-description {
    width: 65%;
    font-size: 20px;
    color: #ffffff;
  }
  &-card {
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    &-subtitle {
      font-size: 11px;
    }
    &:hover {
      transform: translateY(-1.5rem) scale(1.1);
      .section-card-title {
        color: #2cbc63;
      }
    }
  }
  &-industries {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    &-intro {
      display: flex;
      flex-direction: column;
      width: 30%;
    }
    &-column {
      display: flex;
      flex-direction: column;
    }
    &-content {
      font-size: 18px;
      color: #777;
      font-weight: bold;
      padding: 0.5rem;
      &:hover {
        color: #000000;
      }
    }
    &-listing {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 0.5rem;
      padding: 0.5rem;
      border: 1px solid #e5e5e5;
      border-radius: 10px;
      font-size: 16px;
      font-weight: bold;
      &:hover {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
      }
      &-image {
        width: 40px;
      }
    }
  }
}
.image-craousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11rem;
  height: 100px;
  margin: 0.5rem;
}
.services-points {
  display: flex;
  width: 30%;
  height: 200px;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  &:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }
  &-header {
    color: #047bcb;
  }
  &-description {
    font-size: 14px;
    line-height: 1.6;
  }
}

.card-img-top {
  min-height: 75% !important;
}

@media only screen and (max-width: 600px) {
  .heading-primary {
    &--main {
      font-size: 18px;
      letter-spacing: 0.5rem;
    }
    &--sub {
      font-size: 18px;
      letter-spacing: 0.25rem;
    }
  }
  .section-intro {
    padding: 1rem;
  }
  .services-points {
    width: 100%;
  }
  .button-transition {
    font-size: 16px !important;
  }
  .button-trans {
    font-size: 20px;
  }
}

@media (min-width: 200px) and (max-width: 600px) {
  .section {
    &-intro {
      padding: 1rem;
      background-color: #047bcb;
    }
    &-header {
      width: 100%;
    }
    &-description {
      width: 100%;
    }
  }
}
@media (min-width: 200px) and (max-width: 867px) {
  .section {
    &-intro {
      padding: 1rem;
    }
    &-industries {
      flex-direction: column;
    }
  }
}

@media (min-width: 867px) and (max-width: 1024px) {
  .section {
    &-intro {
      padding: 3rem;
    }
  }
}

.button-transition {
  border-radius: 30px;
  background: linear-gradient(to right, #047bcb 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  font-size: 20px;
  font-weight: bold;
  &:hover {
    color: white;
    background-position: left bottom;
  }
}

.button-trans {
  background-color: #047bcb;
  padding: 5px;
  border-radius: 30px;
  font-size: 20px;
}
