.why-choose-us {
  &-header {
    width: 50%;
  }
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 35%;
    height: 350px;
    &-image {
      width: 200px;
      height: 160px;
      display: flex;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        height: auto;
      }
    }
    &-header {
      color: #168bb0 !important;
      font-weight: normal;
      font-size: 20px;
    }
    &-description {
      font-size: 15px;
    }
  }
  &-pointer {
    display: flex;
    align-items: center;
    color: #15416e;
  }
  &-content {
    padding: 2rem;
    background: linear-gradient(0deg, #ffffff 0%, #e0ecf0c4 100%);
    &-pointer {
      display: flex;
      justify-content: space-between;
      &-first {
        width: 50%;
        &-header {
          font-weight: bold;
          line-height: 2;
        }
      }
      &-second {
        width: 50%;
        padding: 0 1rem;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .why-choose-us {
    &-container {
      width: 95%;
      height: 350px;
    }
    &-content {
      padding: 1rem;
      &-pointer {
        flex-direction: column-reverse;
        &-first {
          width: 100%;
          padding: 0 1rem;
        }
        &-second {
          width: 100%;
          padding: 0 1rem;
        }
      }
    }
  }
}
